form {
    position: relative;
    margin-top: 20px;
    top: 29%;
    left: 20%;
    height: 10%;
    width: 65%;
    background-color: transparent;
}

input {
    position: absolute;
    height: 100%;
    width: 85%;
    color: #ffffff;
}


#Buscar {
    position: absolute;
    right: 0;
    background-color: #ffffff;
    height: 100%;
    width: 12%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1);

}

#Buscar:hover {
    transform: scale(1.06);
    filter: brightness(150%);
}


#Buscar:active {

    transform: scale(0.98);

}

.celdaBuscador {
    position: relative;
    top: 140%;
    left: 0%;
    height:100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    cursor: pointer;
    background-color: #3b3a3a;
}

.celdaBuscador:hover{
    background-color: #979595;
    color: #000;
}

.celdaBuscadorActive{
    position: relative;
    top: 140%;
    left: 0%;
    height:100%;
    width: 100%;
    z-index: 1;
    color: #000;
    cursor: pointer;
    background-color: #979595;
}